@model PublicModel

<div class="quick-view-btn" title="@T("NopStation.QuickView.Button.QuickView")">
    <button type="button" onclick="loadQuickViewProduct(@Model.ProductId)">
        @T("NopStation.QuickView.Button.QuickView")
    </button>
</div>
