@model ProductTabItemModel

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("NopStation.ProductTabs.ProductTabItems.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ProductTabs");
}

<form asp-controller="ProductTab" asp-action="ItemCreate" method="post" id="producttabitem-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("NopStation.ProductTabs.ProductTabItems.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a href="/Admin/ProductTab/Edit/@Model.ProductTabId">@T("NopStation.ProductTabs.ProductTabItems.BackToProductTab")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate.TabItem", Model)
</form>