@model PublicModel

    <button type="button" class="button-2 add-to-wishlist-button" onclick="loadQuickViewProduct(@Model.ProductId)">
        <span class="icon icon-quick-view"></span>
    </button>
