/*background color*/
.button-3:hover,
.button-3:focus,
.button-3:active,
.checkbox-container input:checked ~ .checkmark,
.item-box .product-item .details .add-info .buttons .product-box-add-to-cart-button,
.blog-posts .buttons .read-more,
.news-items .buttons .read-more,
.poll .buttons input,
.register-button,
.button,
.button-1,
.login-button,
.ico-cart .cart-qty,
.mini-shopping-cart .cart-title,
.mini-shopping-cart input[type="button"]:hover,
.mini-shopping-cart input[type="button"]:focus,
.shipping-type--icon,
.newsletter .newsletter-email .newsletter-subscribe-button,
.product-tab-container .title,
.product-tab-container .product-tab-body .product-tab-picture strong,
.product-tab-container .owl-carousel .owl-nav button.owl-prev:hover,
.product-tab-container .owl-carousel .owl-nav button.owl-prev:focus,
.product-tab-container .owl-carousel .owl-nav button.owl-next:hover,
.product-tab-container .owl-carousel .owl-nav button.owl-next:focus,
.anywhere-slider-container .owl-dots button.owl-dot.active,
.anywhere-slider-container .owl-nav button.owl-prev:hover, 
.anywhere-slider-container .owl-nav button.owl-next:hover,
.anywhere-slider-bg .owl-carousel .owl-nav button.owl-prev:hover,
.anywhere-slider-bg .owl-carousel .owl-nav button.owl-prev:focus,
.anywhere-slider-bg .owl-carousel .owl-nav button.owl-next:hover,
.anywhere-slider-bg .owl-carousel .owl-nav button.owl-next:focus,
.manufacturer-carousel .ocarousel .owl-nav button.owl-prev:hover,
.manufacturer-carousel .ocarousel .owl-nav button.owl-next:hover,
.manufacturer-carousel .ocarousel .owl-nav button.owl-prev:focus,
.manufacturer-carousel .ocarousel .owl-nav button.owl-next:focus,
.category-carousel .ocarousel .owl-nav button.owl-prev:hover,
.category-carousel .ocarousel .owl-nav button.owl-next:hover,
.category-carousel .ocarousel .owl-nav button.owl-prev:focus,
.category-carousel .ocarousel .owl-nav button.owl-next:focus,
.product-tab-container .product-tab-body .product-tab-item-wrapper .ui-tabs-nav li.ui-tabs-active,
.anywhere-slider-bg .owl-item .slider-caption a,
.category-carousel .ocarousel-grid .ocarousel-item .category-name,
.ocarousel-grid.product-carousel .owl-nav button.owl-prev:hover,
.ocarousel-grid.product-carousel .owl-nav button.owl-next:hover,
.ocarousel-grid.product-carousel .owl-nav button.owl-prev:focus,
.ocarousel-grid.product-carousel .owl-nav button.owl-next:focus,
.ocarousel.item-grid .owl-nav button.owl-prev:hover,
.ocarousel.item-grid .owl-nav button.owl-prev:focus,
.ocarousel.item-grid .owl-nav button.owl-next:hover,
.ocarousel.item-grid .owl-nav button.owl-next:focus,
.sub-category-item .title,
.manufacturer-item .title,
.filter-toggler,
.product-filters .fiters-flyout-title,
.product-filter .remove-filter,
.product__tab.ui-tabs .ui-tabs-nav li.ui-tabs-active,
.estimate-shipping-radio:checked + label,
.cart th,
.cart-footer,
.opc .allow .step-title .number,
.order-progress li.active-step .step-icon,
.pager ul li a:hover,
.pager ul li a:focus,
.pager ul li.current-page span {
  background: #9ca8c9;
}

/*text color*/
.button-3,
.checkbox [type="checkbox"]:not(:checked) ~ label:after, 
.checkbox [type="checkbox"]:checked ~ label:after,
.admin-header-links a:hover,
.admin-header-links a:focus,
.header-links ul li a:hover,
.cart-links li a:hover,
.mm-nav-item .mm-nav-link:hover,
.mm-nav-item > a:hover,
.nav-item > a:hover,
.all-manufacture > a:hover,
.sublist-close-button > button:hover,
.mm-nav-item:hover .sublist-toggle,
.mini-shopping-cart .name a:hover,
.item-box .product-item .details .add-info .prices,
.item-box .product-item .hover-buttons .button-2,
.footer-block .title,
.footer-block ul li a:hover,
.footer-block ul.networks li a:hover,
.home-page-category-grid .item-box .category-item .title,
.blog-item-wrapper .date-time,
.news-item-wrapper .date-time,
.product-tab-container .owl-carousel .owl-nav button.owl-prev span,
.product-tab-container .owl-carousel .owl-nav button.owl-next span,
.anywhere-slider-container .owl-nav button.owl-prev, 
.anywhere-slider-container .owl-nav button.owl-next,
.anywhere-slider-bg .owl-carousel .owl-nav button.owl-prev,
.anywhere-slider-bg .owl-carousel .owl-nav button.owl-next,
.manufacturer-carousel .ocarousel .owl-nav button.owl-prev,
.manufacturer-carousel .ocarousel .owl-nav button.owl-next,
.category-carousel .ocarousel .owl-nav button.owl-prev,
.category-carousel .ocarousel .owl-nav button.owl-next,
.ocarousel-grid.product-carousel .owl-nav button.owl-prev,
.ocarousel-grid.product-carousel .owl-nav button.owl-next,
.ocarousel.item-grid .owl-nav button.owl-prev,
.ocarousel.item-grid .owl-nav button.owl-next,
.breadcrumb ul li:last-child,
.breadcrumb ul > li strong,
.breadcrumb ul > li a:hover,
.breadcrumb ul > li a:focus,
.icon-grid-view.selected,
.icon-list-view.selected,
.product-filter .filter-title,
.pager ul li.next-page a:hover,
.pager ul li.next-page a:focus,
.pager ul li.previous-page a:hover,
.pager ul li.previous-page a:focus,
.product-essential .product-price,
.variant-overview .product-price,
.button-1.checkout-button,
.opc .back-link a:hover,
.compare-products-table td a,
.block .list a:hover,
.block .list .active > a,
.block .view-all a,
.block .tags li a:hover, 
.product-tags-all-page li a:hover,
.sitemap-page .entity a:hover,
.blog-page .post-date, 
.news-list-page .news-date, 
.blogpost-page .post-date, 
.news-item-page .news-date,
.blog-posts .blog-details a:hover,
.blogpost-page .post-body a, 
.news-item-page .news-body a,
.product-reviews-page .page-title a,
.product-review-item .review-info a, 
.product-review-helpfulness .vote,
.order-details-page .data-table .product a,
.forums-main-page a,
.forums-page a,
.forum-topic-page a {
  color: #9ca8c9;
}

/*box border color*/
.button-3,
.button-3:hover, 
.button-3:focus, 
.button-3:active,
.checkbox-container input:checked ~ .checkmark,
.item-box .product-item .details .add-info .buttons .product-box-add-to-cart-button,
.product-tab-container .owl-carousel .owl-nav button.owl-prev,
.product-tab-container .owl-carousel .owl-nav button.owl-next,
.anywhere-slider-container .owl-nav button.owl-prev, 
.anywhere-slider-container .owl-nav button.owl-next,
.anywhere-slider-bg .owl-carousel .owl-nav button.owl-prev,
.anywhere-slider-bg .owl-carousel .owl-nav button.owl-next,
.manufacturer-carousel .ocarousel .owl-nav button.owl-prev,
.manufacturer-carousel .ocarousel .owl-nav button.owl-next,
.category-carousel .ocarousel .owl-nav button.owl-prev,
.category-carousel .ocarousel .owl-nav button.owl-next,
.ocarousel-grid.product-carousel .owl-nav button.owl-prev,
.ocarousel-grid.product-carousel .owl-nav button.owl-next,
.ocarousel.item-grid .owl-nav button.owl-prev,
.ocarousel.item-grid .owl-nav button.owl-next,
.estimate-shipping-radio:checked + label,
.pager ul li.current-page span {
  border-color: #9ca8c9;
}

/*box outline color*/
.product-tab-container .owl-carousel .owl-nav button.owl-prev:focus,
.product-tab-container .owl-carousel .owl-nav button.owl-next:focus,
.anywhere-slider-bg .owl-carousel .owl-nav button.owl-prev:focus,
.anywhere-slider-bg .owl-carousel .owl-nav button.owl-next:focus,
.manufacturer-carousel .ocarousel .owl-nav button.owl-prev:hover,
.manufacturer-carousel .ocarousel .owl-nav button.owl-prev:focus,
.manufacturer-carousel .ocarousel .owl-nav button.owl-next:hover,
.manufacturer-carousel .ocarousel .owl-nav button.owl-next:focus,
.category-carousel .ocarousel .owl-nav button.owl-prev:hover,
.category-carousel .ocarousel .owl-nav button.owl-prev:focus,
.category-carousel .ocarousel .owl-nav button.owl-next:hover,
.category-carousel .ocarousel .owl-nav button.owl-next:focus,
.ocarousel-grid.product-carousel .owl-nav button.owl-prev:hover,
.ocarousel-grid.product-carousel .owl-nav button.owl-next:hover,
.ocarousel-grid.product-carousel .owl-nav button.owl-prev:focus,
.ocarousel-grid.product-carousel .owl-nav button.owl-next:focus,
.ocarousel.item-grid .owl-nav button.owl-prev:hover,
.ocarousel.item-grid .owl-nav button.owl-prev:focus,
.ocarousel.item-grid .owl-nav button.owl-next:hover,
.ocarousel.item-grid .owl-nav button.owl-next:focus {
  outline-color: #9ca8c9;
}

/*box shadow color*/
.item-box .product-item .details .add-info .buttons .product-box-add-to-cart-button,
.product-tab-container .product-tab-body .product-tab-item-wrapper .ui-tabs-nav li.ui-tabs-active,
.anywhere-slider-bg .owl-carousel .owl-nav button.owl-prev,
.anywhere-slider-bg .owl-carousel .owl-nav button.owl-next,
.manufacturer-carousel .ocarousel .owl-nav button.owl-prev,
.manufacturer-carousel .ocarousel .owl-nav button.owl-next,
.category-carousel .ocarousel .owl-nav button.owl-prev,
.category-carousel .ocarousel .owl-nav button.owl-next,
.ocarousel-grid.product-carousel .owl-nav button.owl-prev,
.ocarousel-grid.product-carousel .owl-nav button.owl-next,
.ocarousel.item-grid .owl-nav button.owl-prev,
.ocarousel.item-grid .owl-nav button.owl-next,
.product-filter .remove-filter,
.product-essential .add-to-cart-button, 
.variant-overview .add-to-cart-button {
  /*box-shadow: 0px 2px 8px 0 #9ca8c9;*/
  box-shadow: 0px 5px 10px rgba(231, 110, 17, 0.25);
}

@media (min-width: 992px) {
  .mm-nav-item .sublist.first-level > .mm-nav-item > .mm-nav-link {
    color: #9ca8c9;
  }
}

